     *{
      margin:0px;
      padding:0px;   
      font-family: "Lobster", serif;      
      color: #ee3f3f;
      font-style: normal;      
      text-align: center;
      /* background-color: #c8f2f5;
      color: #156e75; */
                
     }

   .btns_next a{
     margin:20px;
      padding:10px;   
      font-family: "Lobster", serif;      
      color: #156e75;
      font-style: normal;
      font-weight: bold;      
      text-align: center;
      font-size: 30px;
      opacity: 0.5;

}

  .btns_next a:hover{
      opacity: 1;
  }
   
   div.box1{
    width: 60%;
    margin: 0 auto;
    /* border: #f8f8f8 1px dashed; */
    border-radius:3%;    
    padding: 15px;
    background-color: none;
    font-size: 28px;
    
  }
  /* body main{   
    background: url(https://i.pinimg.com/originals/e1/61/00/e16100ec67a19a4f20c23123c35e9021.jpg) center center no-repeat; 
    width: 100vw;
    height: 100vh;
    background-size: cover;
    opacity: 100%; */
       
 




  h2{
    margin: 50px;
    font-size: 35px;
    color: #156e75;;

  }