@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Triodion&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Lobster", serif;
 }
 .main{
   width: 100%;
   height: 100vh;
   background-color: #A3D1C6;
   color: #3D8D7A;
}
.content{
    text-align: center;
    position: relative; /*relative значит рядом*/
    top: 0.5%;
}
.main img{
    width: 590px;
    height: 380px;
}
.pict img{
    width: 720px;
    height: 380px;
}

.submain img{
    width: 220px;
    height: 356px;
}

.main h1{
    font-size: 40px;
}
.main p{
    font-size: 30px;
}
.main p2{
    font-size: 30px;
}
.main p3{
    font-size: 30px;
}
/* <html>
<head>
   <title>Сайт-курсовичок</title>
   </head>
  <center>
  <body> <h2><font face="Caveat"> Учись мечтать широко и с размахом, <br>не торопясь и с удовольствием! </font >
  </body>
   </center>  <font  face="Pacifico font"> </font>
    <hr >
<body bgcolor="A3D1C6">   

   
Всем привет!
<br>
Меня зовут Оля
<br>
Ниже фотки с нашей недавней пешей прогулки на Мамай:
<br><br>
<img src="hats.png" width="200" height="330">
<img src="snowman.png" width="200" height="330">
<img src="way.png" width="200" height="330">
<br>
 <hr >
</body> 

</html> */